.hero {
  padding: 112px 0;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url("../images/hero-mobile.jpg") 1x,
      url("../images/hero-mobile@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/hero-tablet.jpg") 1x url("../images/hero-tablet@2x.jpg")
          2x
      );
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/hero-desktop.jpg") 1x url("../images/hero-destop@2x.jpg")
          2x
      );
  }
}
