.hero {
  padding: 72px 0;
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url("../images/hero-mobile.jpg") 1x,
      url("../images/hero-mobile@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/hero-tablet.jpg") 1x,
        url("../images/hero-tablet@2x.jpg") 2x
      );
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/hero-desktop.jpg") 1x,
        url("../images/hero-desktop@2x.jpg") 2x
      );
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
